<div data-w-id="c6a86f47-145d-b8c8-1c44-2b43c426b91d" class="footer-section wf-section">
      <div class="wrapper">
        <div class="footer-wrapper">
          <div id="w-node-c6a86f47-145d-b8c8-1c44-2b43c426b920-c426b91d" class="stacked-description">
            <h1>NSIDE.</h1>
          </div>
          <div id="w-node-c6a86f47-145d-b8c8-1c44-2b43c426b923-c426b91d" class="stacked-description">
            <div class="subtitle white">Follow us</div>
            <div class="service-menu-list white">
              <a href="https://www.instagram.com/tycreated/" target="_blank" class="menu-list-item white small w-inline-block">
                <div class="team-social-icon small"><img src="/assets/images/ig.svg" loading="lazy" alt=""></div>
                <div id="w-node-c6a86f47-145d-b8c8-1c44-2b43c426b929-c426b91d">@nside</div><img src="/assets/images/arrow-right-white48x482x.svg" loading="lazy" id="w-node-_9528b6cc-5881-ac46-ac4f-f9567a600aa3-c426b91d" alt="" class="list-item-arrow">
              </a>
              <a href="https://twitter.com/Tycreated" target="_blank" class="menu-list-item white small w-inline-block">
                <div class="team-social-icon small"><img src="/assets/images/facebook-f.svg" loading="lazy" alt=""></div>
                <div id="w-node-c6a86f47-145d-b8c8-1c44-2b43c426b92d-c426b91d">@nside</div><img src="/assets/images/arrow-right-white48x482x.svg" loading="lazy" id="w-node-_3ba5fc0d-00d1-0032-83ee-52ea90be55fb-c426b91d" alt="" class="list-item-arrow">
              </a>
              <a href="https://twitter.com/Tycreated" target="_blank" class="menu-list-item white small w-inline-block">
                <div class="team-social-icon small"><img src="/assets/images/linkedin.svg" loading="lazy" alt=""></div>
                <div id="w-node-c6a86f47-145d-b8c8-1c44-2b43c426b931-c426b91d">@nside</div><img src="/assets/images/arrow-right-white48x482x.svg" loading="lazy" id="w-node-d7478ca7-7861-03a0-e2af-d807b17707c6-c426b91d" alt="" class="list-item-arrow">
              </a>
              <a href="https://twitter.com/Tycreated" target="_blank" class="menu-list-item white small w-inline-block">
                <div class="team-social-icon small"><img src="/assets/images/yt.svg" loading="lazy" alt=""></div>
                <div id="w-node-c6a86f47-145d-b8c8-1c44-2b43c426b935-c426b91d">@nside</div><img src="/assets/images/arrow-right-white48x482x.svg" loading="lazy" id="w-node-_7efe9b07-839d-97d2-24ef-14c8a804e1f9-c426b91d" alt="" class="list-item-arrow">
              </a>
            </div>
          </div>
          <div id="w-node-c6a86f47-145d-b8c8-1c44-2b43c426b937-c426b91d" class="stacked-description">
            <div class="subtitle white">Navigation</div>
            <div class="service-menu-list white">
              <a href="/team" class="menu-list-item white w-inline-block">
                <div id="w-node-c6a86f47-145d-b8c8-1c44-2b43c426b93c-c426b91d" class="list-item-text">Team</div><img src="/assets/images/arrow-right-white48x482x.svg" loading="lazy" id="w-node-eaf30d13-d8b4-446b-d7d2-d527e95fa99a-c426b91d" alt="" class="list-item-arrow">
              </a>
              <a href="/projects" class="menu-list-item white w-inline-block">
                <div id="w-node-c6a86f47-145d-b8c8-1c44-2b43c426b93f-c426b91d" class="list-item-text">Projects</div><img src="/assets/images/arrow-right-white48x482x.svg" loading="lazy" id="w-node-_6e84a20c-5fdf-34ef-f5da-11af0219cea5-c426b91d" alt="" class="list-item-arrow">
              </a>
              <a href="/services" class="menu-list-item white w-inline-block">
                <div id="w-node-c6a86f47-145d-b8c8-1c44-2b43c426b942-c426b91d" class="list-item-text">Services</div><img src="/assets/images/arrow-right-white48x482x.svg" loading="lazy" id="w-node-_800e5816-2ed2-cae5-269d-04a046bc20b0-c426b91d" alt="" class="list-item-arrow">
              </a>
              <a href="/news" class="menu-list-item white w-inline-block">
                <div id="w-node-c6a86f47-145d-b8c8-1c44-2b43c426b945-c426b91d" class="list-item-text">News</div><img src="/assets/images/arrow-right-white48x482x.svg" loading="lazy" id="w-node-_47bab92c-8f85-cc70-5380-573db90b0da1-c426b91d" alt="" class="list-item-arrow">
              </a>
              <a href="/contact" class="menu-list-item white w-inline-block">
                <div id="w-node-c6a86f47-145d-b8c8-1c44-2b43c426b948-c426b91d" class="list-item-text">Contact</div><img src="/assets/images/arrow-right-white48x482x.svg" loading="lazy" id="w-node-f9bea813-e527-c7ca-8e20-11a3cd4098db-c426b91d" alt="" class="list-item-arrow">
              </a>
            </div>
          </div>
          <div id="w-node-c6a86f47-145d-b8c8-1c44-2b43c426b94a-c426b91d" class="about-description">
            <h4>About us</h4>
            <div class="body-display white">Mauris accumsan urna eu pharetra elementum. Suspendisse potenti.Vestibulum ut quam luctus, pharetra dui sed, rutrum felis. Vestibulum tellus ipsum, rhoncus sed suscipit a, eleifend in. Vestibulum ut quam luctus, pharetra dui sed, rutrum felis.</div>
          </div>
          <div id="w-node-c6a86f47-145d-b8c8-1c44-2b43c426b94f-c426b91d" class="footer-credits">
            <div>© 2021 NSIDE. All rights reserved.</div>
          </div>
        </div>
      </div>
      <div class="stripe-wrapper">
        <div class="wrapper no-padding">
          <div class="stripe-container">
            <div class="pin-stripe white"></div>
            <div class="pin-stripe white hide-tablet"></div>
            <div class="pin-stripe white hide-horizontal-mobile"></div>
            <div class="pin-stripe white"></div>
          </div>
        </div>
      </div>
    </div>