<div class="stripe-wrapper">
          <div class="wrapper no-padding">
            <div class="stripe-container">
              <div class="pin-stripe hide-horizontal-mobile"></div>
              <div class="pin-stripe hide-tablet"></div>
              <div class="pin-stripe"></div>
              <div class="pin-stripe"></div>
            </div>
          </div>
        </div>