<div class="stripe-wrapper">
        <div class="wrapper no-padding">
          <div class="stripe-container">
            <div class="pin-stripe white"></div>
            <div class="pin-stripe white hide-tablet"></div>
            <div class="pin-stripe white hide-horizontal-mobile"></div>
            <div class="pin-stripe white"></div>
          </div>
        </div>
      </div>