<div class="navigation-links">
              <a href="/services" class="nav-link w-inline-block">
                <div class="button-text">Services</div>
                <div class="nav-link-hover-button"></div>
              </a>
              <a href="/projects" class="nav-link w-inline-block">
                <div class="button-text">Projects</div>
                <div class="nav-link-hover-button"></div>
              </a>
              <a href="/contact" class="nav-link bottom w-inline-block">
                <div class="button-text">Contact</div>
                <div class="nav-link-hover-button"></div>
              </a>
            </div>