<div class="w-dyn-list">
                  {%- unless collection.length == 0 -%}<div role="list" class="mega-menu-list-wrapper w-dyn-items">
                    {%- for item in collection -%}<div role="listitem" class="menu-collection-list-item w-dyn-item">
                      <a href="{{ item.url }}" class="post-list-item category-list-item w-inline-block">
                        <div class="stacked-description horizontal">
                          <div class="list-item-text">{{ item.data.title }}</div>
                          <div id="w-node-_7a338548-6995-26a0-d4df-2c2b4c59a395-4c59a38f" class="subtitle">{{ item.data.f_job-title }}</div>
                        </div>
                      </a>
                    </div>{%- endfor -%}
                  </div>{%- endunless -%}
                  {%- if collection.length == 0 -%}<div class="w-dyn-empty">
                    <div>No items found.</div>
                  </div>{%- endif -%}
                </div>